.success{
    padding-block: 1em;
    padding-inline: 2em;
    background: var(--secondary-100);
    border-radius: 10px;
    
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-900);
    
}

.success:hover{
    font-size: 1.1rem;
    border-radius: 50px;

    transition: font-size ease-in-out 250ms, border-radius ease-in-out 200ms;
}

