:root{
  --primary-100: #a1effd;
  --primary-400: #68C3D4;
  --primary-700: #336d77;
  --primary-900: #17363b;
  --secondary-100: #f1bbdb;
  --secondary-400: #B98EA7;
  --secondary-700: #755a6a;

  --neutral-white: #fefefe;
  --neutral-black: #1f1f1f;
}

html,
body{
  margin: 0;
  overflow-x: hidden;
}

body{
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1,
h2,
h3{
  color: var(--neutral-black);
  line-height: 1em;
  margin: 0;
}

p{
  color: var(--neutral-black);
  line-height: 1.5em;
  font-size: 1.3rem;
}

ul{
  margin: 0;
}

li{
  list-style: none;
  font-size: 1.3rem;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
  outline: none;

  cursor: pointer;
}

.container{
  margin-left: 5em;
  margin-top: 5em;
}